:root {
  --gris-oscuro: #1E1E1E;
}

body {
  background: var(--gris-oscuro) no-repeat center top;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.imagen-espera {
  max-width: 15%;
  height: auto;
  animation: latido 1s infinite;
}

.imagen-espera_1 {
  max-width: 15%;
  height: auto;
  animation: latido 1s infinite;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.texto-espera {
  color: #fff;
  font-family: "Nunito", serif;
  font-size: 36px;
  margin-top: 36px;
}

/* Media query para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .imagen-espera {
    max-width: 20%;
    height: auto;
  }
  
  .imagen-espera_1 {
    max-width: 20%;
    height: auto;
  }
  
  .texto-espera {
    font-size: 24px;
    margin-top: 24px;
  }
}

/* Media query para pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .imagen-espera {
    max-width: 25%;
    height: auto;
  }
  
  .imagen-espera_1 {
    max-width: 25%;
    height: auto;
  }
  
  .texto-espera {
    font-size: 18px;
    margin-top: 18px;
  }
}

/* Media query para pantallas grandes (más de 1200px) */
@media (min-width: 1200px) {
  .imagen-espera {
    max-width: 100px; /* Ajusta el ancho máximo aquí */
    height: auto;
  }
  
  .imagen-espera_1 {
    max-width: 100px; /* Ajusta el ancho máximo aquí */
    height: auto;
  }
}