:root {
  --gris-oscuro: #1E1E1E;
}

body {
  background: var(--gris-oscuro) no-repeat center top;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.imagen-espera {
  width:15%;
  height: 15%;
  animation: latido 1s infinite;
}

.imagen-espera_1 {
  width:30%;
  height: 45%;
  animation: latido 1s infinite;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.texto-espera {
  color: #fff;
  font-family: "Nunito", serif;
  font-size: 36px;
  margin-top: 36px;
}
