/* Definición de variables de color */
:root {
    --negro: #0A0A0A;
    --blanco: #FFFFFF;
    --azul-electrico: #007BFF;
    --gris-oscuro: #1E1E1E;
    --celeste: #66C2FF;
}

/* Estilos generales */
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--blanco);
    background: var(--negro);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/* Animación de fondo dinámico */
@keyframes fondo-dinamico {
    0%, 50% {
        background-image: url('Fotos/Fondo_Index.jpg');
        background-position: center;
    }
    75%, 100% {
        background-image: url('Fotos/Fondo_Index2.jpg');
        background-position: center;
    }
}

/* Estilos de las secciones */
section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(30, 30, 30, 0.8); /* Color #1E1E1E con 80% de opacidad */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos de la sección de inicio */
#inicio {
    width: 70%; /* Establece el ancho de la sección al 70% */
    margin: 20px auto; /* Centra la sección horizontalmente */
    text-align: center; /* Centra el contenido */
}

.fecha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Espaciado inferior */
}

.linea {
    flex: 1; /* Hace que las líneas ocupen el espacio disponible */
    border: 0;
    border-top: 1px solid var(--blanco); /* Línea delgada blanca */
    margin: 0 10px; /* Espaciado entre la línea y la fecha */
}

.fecha-evento {
    font-family: 'Nunito', sans-serif; /* Tipo de letra Nunito */
    font-size: 28px; /* Tamaño de fuente 28px */
    color: var(--blanco); /* Color blanco */
}

.nombres {
    font-family: 'Dancing Script', cursive; /* Tipo de letra Dancing Script */
    font-size: 60px; /* Tamaño de fuente 60px */
    color: var(--azul-electrico); /* Color azul eléctrico */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.frase-biblica {
    font-family: 'Dancing Script', cursive; /* Tipo de letra Dancing Script */
    font-size: 60px; /* Tamaño de fuente 60px */
    color: var(--blanco); /* Color blanco */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.frase-biblica::before {
    color: var(--azul-electrico); /* Color azul eléctrico */
}

.frase-biblica::after {
    content: close-quote; /* Comillas de cierre */
    color: var(--azul-electrico); /* Color azul eléctrico */
}

.flecha {
    margin-top: 20px; /* Espaciado superior */
}

.flecha-img {
    width: 50px; /* Ajusta el tamaño de la flecha */
    height: auto; /* Mantiene la proporción de la imagen */
    animation: subir-bajar 1s infinite; /* Efecto de subir y bajar */
}

@keyframes subir-bajar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


/* Media queries */

/* Pantallas pequeñas */
@media (max-width: 479px) {
    body {
        animation: fondo-dinamico 2s infinite alternate;
        background-size: cover;
        background-position: center;
        
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

#inicio {
    width: 90%;
    margin: 10px auto;
}

.fecha-evento {
    font-size: 18px;
}

.nombres {
    font-size: 40px;
}

.frase-biblica {
    font-size: 40px;
}

.flecha-img {
    width: 30px;
}


    }

/* Pantallas medianas */
@media (min-width: 480px) and (max-width: 767px) {
    body {
        animation: fondo-dinamico 6s infinite alternate;
        background-size: cover;
        background-position: center;
        
    }
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
   
    #inicio {
        width: 90%;
        margin: 15px auto;
    }
    
    .fecha-evento {
        font-size: 22px;
    }
    
    .nombres {
        font-size: 50px;
    }
    
    .frase-biblica {
        font-size: 50px;
    }
    
    .flecha-img {
        width: 40px;
    }

}

/* Pantallas grandes */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        animation: fondo-dinamico 8s infinite alternate;
        background-size: cover;
        background-position: center;
        
    }
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }

    #inicio {
        width: 90%; /* Corrige el ancho a 90% */
        margin: 20px auto;
    }
    
    .fecha-evento {
        font-size: 28px;
    }
    
    .nombres {
        font-size: 60px;
    }
    
    .frase-biblica {
        font-size: 60px;
    }
    
    .flecha-img {
        width: 50px;
    }

}

/* Pantallas muy grandes */
@media (min-width: 1200px) {
    body {
        animation: fondo-dinamico 10s infinite alternate;
        background-size: cover;
        background-position: center;
         
    }
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }

    #inicio {
        width: 90%; /* Corrige el ancho a 90% */
        margin: 25px auto;
    }
    
    .fecha-evento {
        font-size: 32px;
    }
    
    .nombres {
        font-size: 70px;
    }
    
    .frase-biblica {
        font-size: 70px;
    }
    
    .flecha-img {
        width: 60px;
    }

}