/* Definici칩n de variables de color */
:root {
    --negro: #0A0A0A;
    --blanco: #FFFFFF;
    --azul-electrico: #007BFF;
    --gris-oscuro: #1E1E1E;
    --celeste: #66C2FF;
}

/* Estilos generales */
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--blanco);
    background: var(--negro);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/* Animaci칩n de fondo din치mico */
@keyframes fondo-dinamico {
    0%, 50% {
        background-image: url('Fotos/Fondo_Index.jpg');
        background-position: center;
    }
    75%, 100% {
        background-image: url('Fotos/Fondo_Index2.jpg');
        background-position: center;
    }
}

/* Estilos de las secciones */
section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(30, 30, 30, 0.8); /* Color #1E1E1E con 80% de opacidad */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos de la secci칩n de inicio */
#inicio {
    width: 70%; /* Establece el ancho de la secci칩n al 70% */
    margin: 20px auto; /* Centra la secci칩n horizontalmente */
    text-align: center; /* Centra el contenido */
}

.fecha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Espaciado inferior */
}

.linea {
    flex: 1; /* Hace que las l칤neas ocupen el espacio disponible */
    border: 0;
    border-top: 1px solid var(--blanco); /* L칤nea delgada blanca */
    margin: 0 10px; /* Espaciado entre la l칤nea y la fecha */
}

.fecha-evento {
    font-family: 'Nunito', sans-serif; /* Tipo de letra Nunito */
    font-size: 28px; /* Tama침o de fuente 28px */
    color: var(--blanco); /* Color blanco */
}

.nombres {
    font-family: 'Dancing Script', cursive; /* Tipo de letra Dancing Script */
    font-size: 60px; /* Tama침o de fuente 60px */
    color: var(--azul-electrico); /* Color azul el칠ctrico */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.frase-biblica {
    font-family: 'Dancing Script', cursive; /* Tipo de letra Dancing Script */
    font-size: 60px; /* Tama침o de fuente 60px */
    color: var(--blanco); /* Color blanco */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.frase-biblica::before {
    color: var(--azul-electrico); /* Color azul el칠ctrico */
}

.frase-biblica::after {
    content: close-quote; /* Comillas de cierre */
    color: var(--azul-electrico); /* Color azul el칠ctrico */
}

.flecha {
    margin-top: 20px; /* Espaciado superior */
}

.flecha-img {
    width: 50px; /* Ajusta el tama침o de la flecha */
    height: auto; /* Mantiene la proporci칩n de la imagen */
    animation: subir-bajar 1s infinite; /* Efecto de subir y bajar */
}

@keyframes subir-bajar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Estilos para la secci칩n de cuenta regresiva */
#cuenta-regresiva {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 15px solid var(--azul-electrico);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

#cuenta-regresiva h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: var(--azul-electrico);
    margin-bottom: 10px;
}

#contador {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    color: var(--azul-electrico);
    display: flex; /* Organiza los elementos en fila */
    justify-content: center; /* Centra los elementos */
    gap: 20px; /* Espacio entre cada unidad de tiempo */
}

.tiempo {
    display: flex;
    flex-direction: column; /* Organiza los valores en columna */
    align-items: center; /* Centra los valores y etiquetas */
}

.valor {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  color: var(--blanco);
}

.etiqueta {
  font-family: 'Dancing Script', cursive;
  font-size: 28px; /* Tama침o grande para los n칰meros */
  font-weight: bold;
  color: var(--azul-electrico);

}

#contador span {
    font-weight: bold;
}

#corazon {
    width: 30%;
    height: auto;
    margin-top: 10px;
    animation: latido 1s infinite;
}

@keyframes latido {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}

/* Estilos para la secci칩n de tarjetas */
#links {
    text-align: center;
    width: 100%;
    background: none; /* Quita el fondo */
}

.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    margin: 30px;
}

/* Tarjetas Interactivas */
.tarjeta {
    width: 300px;
    height: 350px;
    perspective: 1000px;
    
}

.tarjeta-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.tarjeta:hover .tarjeta-inner {
    transform: rotateY(180deg);
}

/* Lado Frontal */
.tarjeta-front, .tarjeta-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: var(--blanco);
}

.tarjeta-front {
    background-color: rgba(40, 40, 40, 0.8);
    border: 4px solid var(--azul-electrico);
}

.tarjeta-back {
    background-color: rgba(40, 40, 40, 0.8);
    color: var(--negro);
    transform: rotateY(180deg);
    border: 4px solid var(--azul-electrico);
}

/* Estilos del T칤tulo */
.tarjeta-front h1 {
    background-image: url('Fotos/Cinta.png');
    background-size: 45% auto;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--azul-electrico);
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding: 30px 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    animation: wave 2s linear infinite;
}

/* Animaci칩n del t칤tulo */
@keyframes wave {
    0% {
        background-position: calc(50% + 10px) center;
        transform: translateY(0);
    }
    50% {
        background-position: calc(50% + 10px) center;
        transform: translateY(0);
    }
    100% {
        background-position: calc(50% + 10px) center;
        transform: translateY(0);
    }
}

/* Lado Posterior */
.tarjeta-back h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    color: var(--azul-electrico);
}

.tarjeta-back p {
    font-size: 18px;
    margin: 5px 0;
    color: var(--blanco)
}

.tarjeta-back p strong {
    color: var(--azul-electrico);
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

/* Bot칩n */
.boton {
    display: inline-block;
    padding: 10px 60px;
    background-color: var(--azul-electrico);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.boton:hover {
    background-color: var(--celeste);
}

/* Iconos */
.icono {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*Titulo de las fotos*/

#fotos_titulo {
    background-color: rgba(40, 40, 40, 0.8);
    border: 4px solid rgba(0, 123, 255, 0.5);
   width: 80%;
    height: 10%;
    margin: 0 auto; /* Centra el elemento */
    text-align: center;
  }
  
  #fotos_titulo h1 {
    color: var(--azul-electrico);
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold; /* Agrega negrilla */
  }
  
  #fotos_titulo .titulo-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #fotos_titulo .imagen-lateral {
    width: 7.5%; /* Ajusta el ancho de la imagen */
    height: 7.5%; /* Ajusta el alto de la imagen */
    margin: 0 20px; /* Ajusta el margen entre la imagen y el t칤tulo */
  }
  
  #fotos_titulo h3 {
    color: var(--blanco);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold; /* Agrega negrilla */
  }
  
  /*Fotos */
#fotos-tarjeta{
    background: none;
  }
  
  .galeria-tarjeta {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: -10px; /* Reduce el espacio entre im치genes a -10px */
  }
  
  .foto-con-marco-tarjeta {
    perspective: 1000px;
    width: 300px; /* Se ajusta al nuevo tama침o */
    height: 300px;
    position: relative;
    flex-shrink: 0;
    margin: 0 -20px; /* Ajusta el margen entre im치genes */
  }
  
  .foto-inner-tarjeta {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
  }
  
  .foto-con-marco-tarjeta:hover .foto-inner-tarjeta {
    transform: rotateY(180deg);
  }
  
  /* 游댳 Ajuste de ambas caras para que ocupen el mismo espacio */
  .foto-front-tarjeta, .foto-back-tarjeta {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 4px solid #007BFF; /* Borde azul el칠ctrico en ambos lados */
    box-sizing: border-box; /* Asegura que el borde no afecte el tama침o */
  }
  
  /* 游댳 Ajuste del tama침o de imagen */
  .foto-front-tarjeta img,
  .foto-back-tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px; /* Para evitar que el borde azul desaparezca */
  }
  
  /* 游댳 Ajuste de la parte trasera */
  .foto-back-tarjeta {
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotateY(180deg);
  }
  
  /* Imagen opaca en la parte trasera */
  .foto-back-tarjeta .opaca {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    position: absolute;
  }
  
  /* 游댳 Ajuste del texto de la fecha */
  .foto-back-tarjeta .fecha {
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    color: white;
    position: relative;
    z-index: 2;
  }
  
  /* Botones */
  .botones-tarjeta {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .boton-izquierda-tarjeta, .boton-derecha-tarjeta {
    background-color: var(--azul-electrico);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .boton-izquierda-tarjeta:hover, .boton-derecha-tarjeta:hover {
    background-color: var(--celeste);
  }
  
  .giro-automatico .foto-inner-tarjeta {
    transform: rotateY(180deg);
    transition: transform 0.8s ease-in-out;
  }

/* Media queries */

/* Pantallas peque침as */
@media (max-width: 479px) {
    body {
        animation: fondo-dinamico 2s infinite alternate;
        background-size: cover;
        background-position: center;
        
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

#inicio {
    width: 90%;
    margin: 10px auto;
}

.fecha-evento {
    font-size: 18px;
}

.nombres {
    font-size: 40px;
}

.frase-biblica {
    font-size: 40px;
}

.flecha-img {
    width: 30px;
}

#cuenta-regresiva {
    width: 250px;
    height: 250px;
    font-size: 18px;
}

#cuenta-regresiva h2 {
    font-size: 24px;
}

.valor, .etiqueta {
    font-size: 18px;
}

#contador {
    gap: 10px;
}

#corazon {
    width: 20%;
}

/*Tarjetas*/

#links {
    text-align: center;
    width: 70%;
    
}

.contenedor-tarjetas {
    flex-direction: column;
    align-items: center;
    max-width: 90%; /* Ajusta el ancho seg칰n tus necesidades */
    margin: 0 auto; /* Agrega esto */
  } 

.tarjeta {
    width: 90%;
    height: 330px;
    margin-left: 10px; /* Ajusta el margen seg칰n sea necesario */
    margin-bottom: 20px;
}


.tarjeta-inner {
    transform-style: preserve-3d;
  }

  .tarjeta:hover .tarjeta-inner {
    transform: rotateY(180deg);
  }

  
.tarjeta-front h1 {
    font-size: 26px;
    padding: 25px 40px;
}

.tarjeta-back h2 {
    font-size: 22px;
}

.tarjeta-back p {
    font-size: 16px;
}

.boton {
    padding: 10px 50px;
    font-size: 12px;
}

/*Titulo fotos*/
#fotos_titulo {
    width: 90%;
    height: 15%;
    font-size: 14px;
  }

  #fotos_titulo h1 {
    font-size: 24px;
  }

  #fotos_titulo .imagen-lateral {
    width: 5%;
    height: 5%;
    margin: 0 10px;
  }

  #fotos_titulo h3 {
    font-size: 16px;
  }

 
  /*Fotos*/
  .galeria-tarjeta {
    flex-direction: column;
  }

  .foto-con-marco-tarjeta {
    width: 100%;
    height: 200px;
    margin: 20px 0;
  }

  .botones-tarjeta {
    flex-direction: column;
  }

  .boton-izquierda-tarjeta, .boton-derecha-tarjeta {
    width: 100%;
    margin-bottom: 10px;
  }

}
    

/* Pantallas medianas */
@media (min-width: 480px) and (max-width: 767px) {
    body {
        animation: fondo-dinamico 6s infinite alternate;
        background-size: cover;
        background-position: center;
        
    }
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
   
    #inicio {
        width: 90%;
        margin: 15px auto;
    }
    
    .fecha-evento {
        font-size: 22px;
    }
    
    .nombres {
        font-size: 50px;
    }
    
    .frase-biblica {
        font-size: 50px;
    }
    
    .flecha-img {
        width: 40px;
    }

    #cuenta-regresiva {
        width: 300px;
        height: 300px;
        font-size: 20px;
    }
    
    #cuenta-regresiva h2 {
        font-size: 28px;
    }
    
    .valor, .etiqueta {
        font-size: 20px;
    }
    
    #contador {
        gap: 15px;
    }
    
    #corazon {
        width: 25%;
    }

    /*Tarjeta*/
    .contenedor-tarjetas {
        flex-direction: column;
        align-items: center;
        max-width: 300px; /* Ajusta el ancho seg칰n tus necesidades */
        margin: 0 auto; /* Agrega esto */
      } 
    
    .tarjeta {
        width: 280px;
        height: 330px;
        margin-left: 10px; /* Ajusta el margen seg칰n sea necesario */
        margin-bottom: 20px;
    }
    
    
    .tarjeta-inner {
        transform-style: preserve-3d;
      }
    
      .tarjeta:hover .tarjeta-inner {
        transform: rotateY(180deg);
      }

      
    .tarjeta-front h1 {
        font-size: 26px;
        padding: 25px 40px;
    }
    
    .tarjeta-back h2 {
        font-size: 22px;
    }
    
    .tarjeta-back p {
        font-size: 16px;
    }
    
    .boton {
        padding: 10px 50px;
        font-size: 16px;
    }

    /*Titulo fotos*/
    #fotos_titulo {
        width: 80%;
        height: 12%;
        font-size: 16px;
      }
    
      #fotos_titulo h1 {
        font-size: 28px;
      }
    
      #fotos_titulo .imagen-lateral {
        width: 6%;
        height: 6%;
        margin: 0 15px;
      }
    
      #fotos_titulo h3 {
        font-size: 18px;
      }

      /*Fotos*/

      .galeria-tarjeta {
        flex-wrap: wrap;
      }
    
      .foto-con-marco-tarjeta {
        width: 45%;
        height: 250px;
        margin: 20px;
      }
    
      .botones-tarjeta {
        flex-direction: row;
      }
    
      .boton-izquierda-tarjeta, .boton-derecha-tarjeta {
        width: 45%;
        margin: 10px;
      }

}

/* Pantallas grandes */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        animation: fondo-dinamico 8s infinite alternate;
        background-size: cover;
        background-position: center;
        
    }
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }

    #inicio {
        width: 90%; /* Corrige el ancho a 90% */
        margin: 20px auto;
    }
    
    .fecha-evento {
        font-size: 28px;
    }
    
    .nombres {
        font-size: 60px;
    }
    
    .frase-biblica {
        font-size: 60px;
    }
    
    .flecha-img {
        width: 50px;
    }

    #cuenta-regresiva {
        width: 350px;
        height: 350px;
        font-size: 22px;
    }
    
    #cuenta-regresiva h2 {
        font-size: 32px;
    }
    
    .valor, .etiqueta {
        font-size: 22px;
    }
    
    #contador {
        gap: 20px;
    }
    
    #corazon {
        width: 30%;
    }

    /*Tarjeta*/
    .contenedor-tarjetas {
        gap: 100px;
    }
    
    .tarjeta {
        width: 300px;
        height: 350px;
    }
    
    .tarjeta-front h1 {
        font-size: 28px;
        padding: 30px 50px;
    }
    
    .tarjeta-back h2 {
        font-size: 24px;
    }
    
    .tarjeta-back p {
        font-size: 18px;
    }
    
    boton {
        padding: 10px 50px;
        font-size: 18px;
    }
/*Titulo fotos*/
#fotos_titulo {
    width: 70%;
    height: 10%;
    font-size: 18px;
  }

  #fotos_titulo h1 {
    font-size: 32px;
  }

  #fotos_titulo .imagen-lateral {
    width: 7.5%;
    height: 7.5%;
    margin: 0 20px;
  }

  #fotos_titulo h3 {
    color: var(--blanco);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold; /* Agrega negrilla */
  }

  /*Fotos*/

  .galeria-tarjeta {
    gap: -20px;
  }

  .foto-con-marco-tarjeta {
    width: 30%;
    height: 300px;
    margin: 20px;
  }

  .botones-tarjeta {
    flex-direction: row;
  }

  .boton-izquierda-tarjeta, .boton-derecha-tarjeta {
    width: 30%;
    margin: 10px;
  }

}

/* Pantallas muy grandes */
@media (min-width: 1200px) {
    body {
        animation: fondo-dinamico 10s infinite alternate;
        background-size: cover;
        background-position: center;
         
    }
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }

    #inicio {
        width: 90%; /* Corrige el ancho a 90% */
        margin: 25px auto;
    }
    
    .fecha-evento {
        font-size: 32px;
    }
    
    .nombres {
        font-size: 70px;
    }
    
    .frase-biblica {
        font-size: 70px;
    }
    
    .flecha-img {
        width: 60px;
    }

    #cuenta-regresiva {
        width: 400px;
        height: 400px;
        font-size: 24px;
    }
    
    #cuenta-regresiva h2 {
        font-size: 36px;
    }
    
    .valor, .etiqueta {
        font-size: 24px;
    }
    
    #contador {
        gap: 25px;
    }
    
    #corazon {
        width: 35%;
    }

    /*Tarjeta*/
    .contenedor-tarjetas {
        gap: 150px;
    }
    
    .tarjeta {
        width: 320px;
        height: 370px;
    }
    
    .tarjeta-front h1 {
        font-size: 30px;
        padding: 35px 60px;
    }
    
    .tarjeta-back h2 {
        font-size: 26px;
    }
    
    .tarjeta-back p {
        font-size: 20px;
    }
    
    .boton {
        padding: 10px 50px;
        font-size: 18px;
    }

    /*Titulo fotos*/
    #fotos_titulo {
        width: 60%;
        height: 8%;
        font-size: 20px;
      }
    
      #fotos_titulo h1 {
        font-size: 36px;
      }
    
      #fotos_titulo .imagen-lateral {
        width: 8%;
        height: 8%;
        margin: 0 25px;
      }
    
      #fotos_titulo h3 {
        color: var(--blanco);
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-weight: bold; /* Agrega negrilla */
      }

      /*Fotos*/

      .galeria-tarjeta {
        gap: -30px;
      }
    
      .foto-con-marco-tarjeta {
        width: 20%;
        height: 350px;
        margin: 20px;
      }
    
      .botones-tarjeta {
        flex-direction: row;
      }
    
      .boton-izquierda-tarjeta, .boton-derecha-tarjeta {
        width: 20%;
        margin: 10px;
      }
}