
:root {
    --negro: #0A0A0A;
    --blanco: #FFFFFF;
    --azul-electrico: #007BFF;
    --gris-oscuro: #1E1E1E;
    --celeste: #66C2FF;
}
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--blanco);
    background: var(--negro);
    animation: fondo-dinamico 10s infinite alternate;
    background-size: 100%;
    animation: fondo-dinamico 6s infinite alternate; /* 3 segundos entre cada imagen */
}

/* Animación de fondo dinámico */
@keyframes fondo-dinamico {
    0%, 50% {
        background-image: url('Fotos/Fondo_Index.jpg');
        background-position: center;
    }
    75%, 100% {
        background-image: url('Fotos/Fondo_Index2.png');
        background-position: center;
    }
}
/* Pantallas pequeñas */
@media (max-width: 479px) {
    body {
        font-size: 14px; /* Ajusta el tamaño de fuente */
        background-size: 150%; /* Ajusta el tamaño de fondo */
        animation-duration: 4s; /* Ajusta la duración de la animación */
    }
 }

/* Pantallas medianas */
@media (min-width: 480px) and (max-width: 767px) { 
    body {
        font-size: 18px; /* Ajusta el tamaño de fuente */
        background-size: 100%; /* Ajusta el tamaño de fondo */
        animation-duration: 6s; /* Ajusta la duración de la animación */
    }
}

/* Pantallas grandes */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        font-size: 18px; /* Ajusta el tamaño de fuente */
        background-size: 100%; /* Ajusta el tamaño de fondo */
        animation-duration: 6s; /* Ajusta la duración de la animación */
    }
 }

/* Pantallas muy grandes */
@media (min-width: 1200px) {
    body {
        font-size: 20px; /* Ajusta el tamaño de fuente */
        background-size: 80%; /* Ajusta el tamaño de fondo */
        animation-duration: 7s; /* Ajusta la duración de la animación */
    }

 }